/* Main styles */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&Roboto:300');

/* Variables */

:root {
  --color-win: #78CF82;
  --color-lose: #D94545;
  --color-start: #5b85b7;
  --color-neutral: #445069;
  --color-neutral-light: #D2D2D2;
  --color-keys: #37474F;
  --color-keys-light: #E5E5E5;
  --font-size-large: 60px;
  --font-size-medium: 20px;
  --transition: all .2s ease-in-out;
}

/* main */

* {
  box-sizing: border-box;
}

body {
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
}

li, ol, ul {
  padding: 0;
  display: inline-block;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: var(--font-size-large);
  margin: 0;
}

button {
  margin: 6px;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  color: var(--color-keys);
  font-size: var(--font-size-medium);
  background-color: var(--color-keys-light);
  border-radius: 5px;
  -webkit-transition: var(--transition);
  -o-transition: var(--transition);
  transition: 
    var(--transition),
    background .6s ease-in;
}

.heart {
  height: 35px;
  width: 30px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  max-height: 900px;
  text-align: center;
}

.section {
  width: 100%;
  padding: 10px;
}

/* Title */

.header {
  color: var(--color-start);
}

/* Phrase */

@keyframes scaling {
  From {
      -webkit-transform: scale(1.0);
  }
  To {
      -webkit-transform: scale(1.3);
  }
}

.letter {
  font-size: var(--font-size-medium);
  height: 65px;
  width: 65px;
  padding: 20px 1px 0 1px;
  margin-right: 2px;
  color: transparent;
  background: var(--color-neutral-light);
  border-radius: 5px;
  transition: 
    color .8s ease-in, 
    background-color .8s ease-in,
    background .8s ease-in;
}

.space {
  width: 15px;
}

.show {
  color: #000;
  background-color: #76CE82;
  animation: scaling .3s 2 alternate;
}

/* Keyboard */

.keyrow {
  display: flex;
  justify-content: center;
}

.chosen {
  background: var(--color-neutral);
  border-radius: 5px;
  font-size: var(--font-size-medium);
  color: #FFFFFF;
}

.wrong {
  background-color: #D94545;
}

.right {
  background-color: var(--color-win);
}

.btn__reset,
.reset {
  padding: 8px;
  margin: 50px auto;
  background: #FFFFFF;
  border-radius: 5px;
  font-size: var(--font-size-medium);
}

.reset {
  color: var(--color-win);
  background-color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.btn_reset {
  background-color: var(--color-win);
  color: whitesmoke;
  text-decoration: none;
  cursor: pointer;
}

.btn_reset,
.reset {
  transition: background-color .3s ease-out;
}

.btn_reset:hover {
  background-color: #12a325;
}

a:hover{
  color: white;
}

.reset:hover {
  background-color: rgb(228, 228, 228);
}

/* Overlay */

#overlay {
  display: flex;
  flex-direction: column;
  position: fixed;
  color: #FFFFFF;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
}

.title {
  color: #FFF;
}

.start {
  background-color: var(--color-start);
}

.win {
  background-color: var(--color-win);
}

.win a {
  color: var(--color-win);
}

.lose {
  background-color: var(--color-lose);
}

.lose a {
  color: var(--color-lose);
}

/* Animation */

/* Code taken from: https://www.w3schools.com/howto/howto_css_shake_image.asp */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake {
  animation: shake 0.5s 1;
}
