/* ============================================= */
  /*              Cards                          */
  /* ============================================= */


  .card-body {
    padding: 1rem 0;
  }

  .project-card {
    width: 100%;
    max-width: 100%;
  }