/* ============================================= */
  /*              List Items                           */
  /* ============================================= */

  @each $number, $list-item in $list-items {
    .list-item-#{$number} {
      background-color: $list-item;
      width: 75%;
    }
  }

  .list-group {
    justify-content: space-evenly;
    align-items: center;
}

.list-group-horizontal{
    flex-direction: column;
}

li.list-group-item,
.list-group-horizontal>.list-group-item+.list-group-item,
.list-group-horizontal>.list-group-item:first-child {
  border-radius: var(--bs-list-group-border-radius);
}

ul a{
  cursor: pointer;
}