/* ============================================= */
  /*              SVGs                           */
  /* ============================================= */
.orange-fill 
{
  fill: $p-accent-color;
}

.white-fill 
{
  fill: $p-text-color;
}

.svg {
  max-width: 50px;
  max-height: 50px;
  background-color: $p-tertiary-darker;
}

.icon8 {
  width: 48px;
  height: 48px;
}