* {
    box-sizing: border-box;
    font-family: 'Anek Malayalam', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "nav"
    "main";
}

.header {
    grid-area: header;
    width: 100%;
    height: 75px;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    background-color: #7376BE;
}

.main {
    background-color: #f1eeee;
}

.user-info, 
.current-user {
    display: flex;
    align-items: center;
}

.current-user {
    margin-left: 0.3em;
    padding: 0 0.3em;
    border-left: solid #404040 1px;
    height: 75px;
}
    
.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    display: grid;
}

.logo {
    width: 25px;
    fill: #FDFDFE;
}

.profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: .3em;
}

.profile-image {
    border-radius: 50%;
    width: 100px;
}


.current-user > * {
    margin-left: 1em;
}

.nav {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #4D4C72;
}

img {
    max-width: 100%;
}

.widget-container-full, .widget-container-half {
    width: 95vw;
    margin: auto;
}

.header,
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#email-button,
#profile-button {
    display: inline-block;
}

#email-button,
#profile-button {
    width: 10em;
}

h1 {
    font-size: 1.3em;
    font-weight: normal;
}

h2 {
    font-size: .8em;
    padding: .5em 0;
}

.user-info > *{
    padding: 0 .2em;
}

#notification-bell {
    padding: .5em;
    margin: 0 .5em;
    height: 40px;
    width: 40px;
    transition: 
        fill .5s ease-in-out,
        background-color .5s ease-in-out,
        border-radius .5s ease-in-out;
}

.box :hover {
    fill: #81C98F;
    background-color: white;
    border-radius: 20px;
}

header * {
    color: #FDFDFE;
}

.main-header {
    display: flex;
    align-items: center;
    width: 100%;
}

.headline {
    width: 100%;
    margin: 0;
    max-width: 30%;
}

.tab {
    width: 100%;
    background-color: #F7F7F7;
    padding: 1em; 
    border-left: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;   
}

.traffic-nav {
    display: flex;
    justify-content: space-evenly;
}

.traffic-nav-link {
    list-style: none;
    font-weight: bold;
    padding: .5em;
    transition: background-color .5s;
    cursor: pointer;
}

.green-background {
    background-color: #81C98F;
    color: white;
    border-radius: 20px;
}

h3 {
    text-align: left;
    margin-left: 1em;
}

.traffic-header ul {
    margin: 0;
}

.headline {
    text-align: center;
}


.traffic,
.daily,
.mobile,
.social,
.members,
.recent-activity,
.message,
.members-container,
.activity-container {
    border-bottom: 2px #b1b1b1 solid;
    padding-bottom: 1em;
}

.members :last-child,
.recent-activity :last-child{
    border-bottom: none;
}

.members-container,
.activity-container {
    width: 80%;
    margin: auto;
    padding: 1em;
}

.social-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7F7F7;
    border: solid 2px #cccccc;
    width: 80%;
    margin: 1em auto;
}

.social-container > * {
    padding: 1em;
    text-align: left;
}

.social-text > * {
    margin: 0;
}

.social-text :first-child{
    font-size: 1.5em;
    color: #7376BE;
}

.social-text :last-child {
    font-size:  3em;
}

.social-image {
    background-color: #7376BE;
    border-radius: 50%;
    margin: 1em;
}

.members-container p,
.activity-container p {
    margin: 0;
}

.members-container,
.activity-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.widget-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field,
.form-area {
    width: 80%;
    background-color: #e2e2e2;
    text-align: left;
    transition: background-color .5s;
}

#userField:focus,
#messageField:focus {
    background-color: white;
}

.widget-container > * {
    margin: 0 auto 1em;
    border-radius: 7px;
}

.form-field {
    padding: .5em
}

.form-area {
    padding: .5em .5em 5em .5em;
}

#send {
    width: 80%;
    background-color: #7376BE;
    color: whitesmoke;
    padding: 1em 0;
}

.switch {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-left: 1em;
    max-width: 260px;
}

.toggle {
    width: 80px;
    border-radius: 8px;
}

#timezone option {
    text-align: left;
}

.settings-button {
    display: flex;
    width: 80%;
    justify-content: space-around;
    margin: auto;
}

.settings-button button {
    width: 40%;
    padding: 1em;
    margin-bottom: 1em;
    text-transform: uppercase;
    color: white;
    border-radius: 15px;
}

#save {
    background-color: #4D4C72;
}

#cancel {
    background-color: #747474;
}

canvas {
    max-width: 1400px;
    max-height: 470px;
    margin: auto
}

h3 {
    margin: 1rem;
}
/* code to change color of selection arrow, adapated from https://stackoverflow.com/questions/38870246/html-css-change-color-of-select-arrow */
.select-box {
    width: 200px;
    overflow: hidden;
    border: 1px solid #000;
    position: relative;
    padding: 0;
    margin: 1em auto 2em;
}

.select-box:after {
    width: 0; 
    height: 0; 
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #7376BE;
    position: absolute;
    top: 40%;
    right: 5px;
    content: "";
    z-index: 98;
}
   
.select-box select {
    width: 220px;
    border: 0;
    position: relative;
    z-index: 99;
    background: none;
}

.link-span {
    display: none;
}

/* CSS to make notification counter adapted from https://stackoverflow.com/questions/20953355/place-a-circle-with-notification-count-on-top-corner */

.box {
    border:#aaa;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position:relative;
}

#noti-count {
    position:absolute;
    top: -5px;
    right: 10px;
    background-color:#81C98F;
    color:#fff;
    padding:5px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    width:20px;
    height:20px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-notification {
    top: 30px;
    position: absolute;
    left: -73px;
    background-color: #4D4C72;
    padding: .5em;
    z-index: 1;
}

.li-notification {
    text-align: center;
    list-style: none;
    background-color: #7376BE;
    width: 132px;
    font-size: 1em;
    margin: 0.5em 1em;
    padding: 0.5em;
}

.alert-banner {
    text-align: center;
}

.alert-banner :first-child{
    background-color: #81C98F;
    color: white;
    margin: 0;
    font-family: sans-serif;
    padding: 1em;
}

.alert-banner-close {
    width: 25%;
    margin: auto;
    background-color: tomato;
    text-transform: uppercase;
    font-size: 1.5em;
    color: white;
}

/* Auto-complete code adapted from https://www.w3schools.com/howto/howto_js_autocomplete.asp */
.auto-complete {
    position: relative;
    display: flex;
    justify-content: center;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    width: 176px;
    margin: auto;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

@media screen and (min-width: 768px) {
    .grid-container{
        display: grid;
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }
    .main {
        grid-template-columns: 50%;
    } 

    .traffic, .social, .members, .message, .recent-activity, .settings, .dashboard-header {
        grid-column: 1 / span 2;
    }
    .daily {
        grid-column: 1 / span 1;
    } 
    .mobile {
        grid-column: 2 / span 1;
        border-left: 2px #b1b1b1 solid;
    }

    .logo {
        width: 40px;
    }

    .profile-picture {
        width: 75px;
        height: 75px;
        padding: .5em;
    }

    .widget-container-full,
    .widget-container-half {
        width: 90%;
    }

    .nav {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
    }
    .nav > * {
        padding: .5em 0;
    }

    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }

    .headline {
        max-width: 180px;
    }
    
    .current-user > * {
        margin-left: 3em;
    }


    .traffic-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    img {
        width: 100%;
        max-height: 300px;
    }

    .socials-container {
        display: flex;
    }

    .social-container {
        margin: 1em;
    }

    .members-container {
        justify-content: space-between;
        flex-direction: row;
    }

    .link-span {
        display: block;
        padding: 5em 0;
    }

    .activity-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        max-height: 134px;
        flex-direction: row;        
    }

    .activity-info,
    .member-info {
        display: flex;
        align-items: center;
    }

    .activity-info :first-child,
    .member-info :first-child {
        margin-right: 2em;
    }

    .activity-info img {
        height: 100px;
        width: 100px;
    }

    .message > * {
        width: 95%;
        margin: 1em auto;
    }

    .widget-container > *,
    #send {
        width: 100%;
    }

    .switch {
        margin-bottom: 2em;
        font-size: 1.1em;
        max-width: 300px;
    }

    .select-box {
        width: 95%;
    }

    .select-box select {
        width: 120%;
    }

    .settings-button {
        width: 95%;
    }

    .settings-button button {
        width: 45%
    }

    a .logo {
        padding: .2em;
    }

    #noti-count {
        top: -5px;
        right: 5px;
        height: 30px;
        width: 30px;
    }

    #notification-bell {
        height: 60px;
        width: 60px;
    }

    .li-notification {
        width: 300px;
        font-size: 1.3em;
        margin: .5em 1em;
        padding: .5em;
    }

    .ul-notification {
        padding: 1em;
        top: 57px;
        left: -141px;
    }

    .alert-banner :first-child{
        width: 50%;
        margin: auto;
    }

    .alert-banner-close {
        font-size: 2em;
    }

    .autocomplete-items {
        width: 40%;
    }

    .members-container,
    .activity-container {
        text-align: left;
}

      
}

@media screen and (min-width: 1024px) {
    .main {
        grid-template-columns: 1fr 1fr;
    }

    .traffic, .social, .settings, .dashboard-header {
        grid-column: 1 / span 2;
    }
    .daily, .members, .message {
        grid-column: 1 / span 1;
    } 
    .mobile, .recent-activity, .settings {
        grid-column: 2 / span 1;
        border-left: 2px #b1b1b1 solid;
    }

    .alert-banner :first-child{
        width: 30%;
    }
    .autocomplete-items {
        left: -45%;
      }
}


