/* ============================================= */
/*              Base styles                      */
/* ============================================= */



.active {
    background-color: $p-accent-color;
    border-radius: 50%;

}

.bg-white {
    background-color: whitesmoke;
}


.p-gradient {
    background: linear-gradient($p-primary-color, $p-tertiary-color);
}

.card {
    width: 80%;
    max-width: 18rem;
}

.p-m {
    padding: .3rem;
}

.w-90 {
    width: 90%;
    max-width: 100%;
}

.w-75 {
    width: 75%;
}


.flex-s {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.flex-align-c {
    display: flex;
    align-items: center;
}

.form-check {
    padding: 0;
    width: 100%;
}

#options-wrapper {
    width: 200px;
}

.flex-sb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}